[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "hammerspoon"]
	path = hammerspoon
	url = git@github.com:vbfischer/hammerspoon-files.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "bundle/oh-my-zsh-bundle/oh-my-zsh"]
	path = bundle/oh-my-zsh-bundle/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git