[submodule "zilsh"]
	path = zilsh
	url = git@github.com:zilsh/zilsh.git
[submodule "bundle/oh-my-zsh-bundle/oh-my-zsh"]
	path = bundle/oh-my-zsh-bundle/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
