[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "hammerspoon"]
	path = hammerspoon
	url = git@github.com:vbfischer/hammerspoon-files.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto
