".source.js":
  "Backbone.sync":
    "prefix": "bb-sync"
    "body": """Backbone.sync(${1:[method]}, ${2:[model]}, ${3:[options]});"""
  "Backbone.ajax":
    "prefix": "bb-ajax"
    "body": """Backbone.ajax = function(request) { ... };"""
  "Backbone.emulateHTTP":
    "prefix": "bb-http"
    "body": """
      Backbone.emulateHTTP = ${1:True/False};
    """
  "Backbone.emulateJSON":
    "prefix": "bb-json"
    "body": """
      Backbone.emulateJSON = ${1:True/False};
    """
