".source.js":
  "view.extend":
    "prefix": "bbv-extend"
    "body": """
    var ${1:variable} = Backbone.View.extend({
    });
  """
  "view.setElement":
    "prefix": "bbv-setelement"
    "body": """
      ${1:view}.setElement(${2:element});
    """
