'exception-reporting':
  'userId': '01b0a8af-6507-518c-7288-53abb95a4b86'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'b8e077c41720ec5f1f4d7c2017074816950b59bc'
'editor':
  'fontFamily': 'Source Code Pro'
  'fontSize': 15
  'lineHeight': 1.6
'core':
  'themes': [
    'spacegray-mocha-ui'
    'base16-monokai-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    '.sencha'
    'docs/output'
  ]
  'disabledPackages': [
    'atom-lint'
  ]
  'useReactEditor': true
'tree-view': {}
'atom-lint':
  'jshint':
    'path': '/usr/local/bin/jshint'
'atom-jshint': {}
'local-history':
  'difftoolCommand': 'ksdiff "{current-file}" "{revision-file}"'
