# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
  'EXT Define':
    'prefix': 'define'
    'body': """
    /**
      * @class ${1:Namespace}.${2:Filename}
    **/
    Ext.define('${1:Namespace}.${2:Filename}', {

    });
    """

  'Debug log':
    'prefix': 'dlog'
    'body': 'debug.log($1)'

  'property function':
    'prefix': 'pf'
    'body': """
      ${1:"function name"}: function(${2:"params"}) {
        $3
      },
    """


  'New EXT Class':
    'prefix': 'extd'
    'body': """
      Ext.define('Beacon.${1:Class Name"}', {
        extend: '${2:"Ext."}',
        $3
      });
    """
